appdirs==1.4.4
beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
craigslist-scraper==1.1.0
cssselect==1.1.0
fake-useragent==0.1.11
filelock==3.3.2
huggingface-hub==0.1.0
idna==3.3
importlib-metadata==4.8.1
jellyfish==0.8.9
joblib==1.1.0
lxml==4.6.4
networkx==2.6.3
numpy==1.21.4
packaging==21.2
parse==1.19.0
pyee==8.2.2
pyparsing==2.4.7
pypiwin32==223
pyppeteer==0.2.6
pyquery==1.4.3
PySimpleGUI==4.53.0
pywin32==302
PyYAML==6.0
regex==2021.11.2
requests==2.26.0
requests-html==0.10.0
sacremoses==0.0.46
segtok==1.5.10
six==1.16.0
soupsieve==2.3
tabulate==0.8.9
tokenizers==0.10.3
torch==1.10.0
tqdm==4.62.3
transformers==4.12.3
typing-extensions==3.10.0.2
urllib3==1.26.7
w3lib==1.22.0
websockets==9.1
win10toast==0.9
yake==0.4.8
zipp==3.6.0

streamlit~=1.1.0
keytotext~=1.5.2
Flask~=1.1.1